<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Admin Panel</title>
  <link rel="icon" href="/static/icon"> 
  <link rel="stylesheet" href="/static/css/admin.css">


</head>
<body>

  <div id="status-bar" style="z-index: 900;color:#eaeaf0;box-sizing: initial; display: flex; justify-content: space-between; align-items: center; position: fixed; width: 20rem; height: 5rem; background-color: rgb(168, 0, 0); top: 2vh; right: 0px; padding: 0.75rem; padding-left: 2rem; transform: translateX(100%); transition: transform 0.2s ease; border-bottom-left-radius: 2vh;  border-top-left-radius: 2vh;">
    <p>OK</p>
    <a style="font-size: 1.5em; cursor: pointer;" onclick="this.parentElement.style.transform = 'translateX(100%)'">🞫</a>
  </div>

  <header>
    <a href=""><h1 id="h1title">Admin Panel</h1></a>
    <div class="option-icon" id="openbtn" onclick="document.getElementById('sideMenu').classList.toggle('open')">
            <img class="img-invert" style="height: 80%; position: relative; top: 50%; left: 50%; transform: translate(-50%,-50%);" src="/static/svg/menu.svg">
        </div>
  </header>

  <div style=" margin-top: 4vh; margin-bottom: 4vh;">
    <h2 style="margin-left: 10vw;">Server Settings</h2>
    <div id="serversettings" class="servicesettingsgrid">
      
      <div>
        <div style="text-align: center;">Favicon</div>
        <div><button id="finputbutton" class="buttonSettings" onclick="imitatefinput()" style="overflow: hidden; text-overflow: ellipsis;">Upload</button></div>
      </div>
      <div>
        <div style="text-align: center;">Title</div>
        <div><textarea id="title_input" class="textinput"></textarea></div>
      </div>
      
      <div>
        <div style="text-align: center;">Readme</div>
        <div><textarea id="md" class="textinput"></textarea></div>
      </div>
      
      
      
      <div><div style="white-space: pre;"> </div><button class="buttonSettings" onclick="chengeServerSettings()">Save</button></div>

    </div>
  </div>

  <div style=" margin-top: 7vh; margin-bottom: 4vh;">
    <h2 style="margin-left: 10vw;">Create new monitor</h2>
    
    <div id="createGrid" class="createmonitorgrid">
      <div>
        <div style="text-align: center;">Url</div>
        <div><textarea id="create-url" class="textinput"></textarea></div>
      </div>

      <div>
        <div style="text-align: center;">Name</div>
        <div><textarea id="create-name" class="textinput"></textarea></div>
      </div>

      <div>
        <div style="text-align: center;">Group</div>
        <div><textarea id="create-group" class="textinput"></textarea></div>
      </div>
      
      <div>
        <div style="text-align: center;">Interval</div>
        <div><input id="create-interval" class="textinput" type="number"></div>
      </div>

      <div>
        <div style="text-align: center;">Timeout</div>
        <div><input id="create-timeout" class="textinput" type="number"></div>
      </div>

      <div><div style="white-space: pre;"> </div><button class="buttonSettings" style="grid-column: 1 / span 2;" onclick="createMonitorRequest()">Create</button></div>


      
    </div>

    
  </div>

  <div id="monitors_settings" style=" margin-top: 7vh; margin-bottom: 4vh;">
    <h2 style="margin-left: 10vw;">Monitors settings</h2>
    

    </div>

    
    
  </div>


  <input id="finput" style="display: none;" onchange="setfilename()" type="file" accept=".png">

  <div class="side-menu" id="sideMenu">
        <div class="menu-item" onclick="window.location.href='/'">
            <img class="img-invert" src="/static/svg/home.svg">
            <span>Home</span>
        </div>

        <div class="menu-item" onclick="window.location.href='/reg/'">
            <img class="img-invert" src="/static/svg/account.svg">
            <span>Account</span>
        </div>

        <div class="menu-item" onclick="toggleTheme()">
            <img class="img-invert" src="/static/svg/theme.svg">

            <span>Toggle theme</span>
        </div>
       

</div>


</body>
  
<script>

let data = JSON.parse("{{ .Monitors }}")
let server_data = JSON.parse("{{ .ServerInfo }}")


</script>

<script defer src="/static/js/admin.js"></script>
<script defer src="/static/js/theme.js"></script>



</html>
