<html>

<head>
    <link rel="icon" href="/static/icon" type="image/png">

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Login</title>
<link rel="stylesheet" href="/static/css/login.css">

  <script defer src="/static/js/theme.js"></script>


</head>

<body style="overflow: hidden !important;">
  <div class="main">
    <p class="sign" align="center">Login</p>
    <div class="form1">
      <input id="to" class="un" type="email" align="center" placeholder="Email" required>
      <input id="password" class="un" type="text" align="center" placeholder="Password" required>
      <a href="/recovery/" style="position: relative; text-decoration:dotted; text-align: center;font-size: 1rem;color: var(--muted);">Reset password</a>
      <button class="submit" onclick="post()"  align="center">Submit</button>
            
                
    </div>
     
</body>
<script defer src="/static/js/statusbar.js"></script>

<script>

   function post(){
        
        let email_input  = document.getElementById("to")
        let password_input  = document.getElementById("password")
    
        let data = {"password": password_input.value, "email": email_input.value}


        fetch("/api/login/",{headers: {'Content-Type': 'application/json'},method:"POST",body: JSON.stringify(data),})
        .then(function(response){
          if (response.ok){
            history.back();
            return ""
          }
          else{
            return response.text()
          }
        }).then((t)=>{
          createStatus(t)
        })
            
    }

</script>
<script defer src="/static/js/theme.js"></script>

</html>